.form {
  max-width: 300px;
  /* border: 1px red solid; */
  box-shadow: 0 0 10px #d3d3d3;
  display: block;
  padding: 0.5rem;
  margin-left: 400px;
}
.form input,
textarea,
select {
  display: inline;
  margin: 1rem;
  padding: 0.2rem;

  font-family: "Montserrat", sans-serif;
  resize: none;
  border-radius: 4px;
}
.form .color,
select {
  display: inline;
}
.form button {
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
  background-color: #ffffff;
}
